{% extends 'base/baseTemplate.html' %}

{% load staticfiles%} 

{% block title %}
GEST JMB
{% endblock %}

{% block navbar %}
<!-- SE DEJA VACIO PARA QUE NO APAREZCA LA BARRA -->
{% endblock %}

{% block content %}


 <div class="row">
      <div class="col-xs-11 col-sm-10 col-md-8 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
          	<div class="text-center">
          		<img src="{% static 'images/logo_jmb.jpg' %}" alt="JMB">
          	</div>
            <h5 class="card-title text-center espaciado">Iniciar Sesion</h5>
            <form class="form-signin" method="POST" action="{% url 'login' %}">
            {% csrf_token %}
              <div class="form-label-group">
               	<input name="username" id="inputEmail" type="text" class="form-control" placeholder="Usuario" required autofocus>

                <label for="inputEmail">Usuario</label>
              </div>

              <div class="form-label-group">
                <input name="password" id="inputPassword" type="password" class="form-control" placeholder="Contrasena" required>
                <label for="inputPassword">Contrasena</label>
              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Iniciar Sesion</button>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}