asgiref
asn1crypto
certifi
chardet
cryptography
Django
idna
keyring
keyrings.alt
numpy
pandas
pycrypto
pygobject
python-dateutil
pytz
pyxdg
requests
SecretStorage
six
sqlparse
ssh-import-id
urllib3
python-magic
