
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">


        {% block  another_styles %}

        {% endblock  %}


        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



        <!-- START BOOTSTRAP -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- END BOOTSTRAP -->

        <!-- START FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Comfortaa|Roboto+Mono" rel="stylesheet">
        <!-- END FONTS -->

        <!-- START FONT AWESOME -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <!-- END FONT AWESOME -->


        <!-- START CSS STYLE -->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">
        <link href="{% static 'css/log-in.css' %}" rel="stylesheet">
        <!-- END CSS STYLE -->

        <title>{% block title %} Titulo pagina {% endblock %}</title>
        <script>

        function addEventLitenerByClass(root,className, event, handler) {
            for (var ele of root.getElementsByClassName(className)) {
                ele.addEventListener(event, handler);
            }
        }

        function addEventLitenerById(id, event, handler) {
            var ele;
            ele = document.getElementById(id);
            ele.addEventListener(event, handler);
        }
        </script>
    </head>

    <body>
        <!-- START NAVBAR -->
        {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            {% block navbar1 %}
            {% endblock %}
            
            <a href="/home/"><img class="img-thumbnail" src="/static/images/logo_jmb.jpg" alt="GEST JMB" style="width: 30%;"></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                    <ul class="nav">
                            <li class="nav-item">
                              <a class="nav-link active" href="http://localhost:8000/Listar/Clientes">Clientes</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="http://localhost:8000/Listar/Carretillas">Carretillas</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link" href="http://localhost:8000/Listar/Historico De Facturas">Facturas</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">Procesos</a>
                            </li>
                          </ul>
                    <a href="{% url 'logout' %}">
                        <button type="button" class="btn btn-sm btn-outline-info"> 
                            <i class="fas fa-sign-out-alt"></i>
                        Salir
                        </button>
                    </a>
                        
            </div>
        </nav>
        {% endblock %}
        <!-- END NAVBAR -->

        <!-- START CONTENT BLOCK -->
            {% block content %}
            {% endblock %}
        <!-- END CONTENT BLOCK -->

        <!-- START FOOTER -->
        <footer class="footer pt-4 my-md-5 pt-md-5 border-top">
            <div class="container text-center" style="height: 20%;">
                <span class="text-muted">Copyright 2019 ©</span><br>
                <span class="text-muted"></span><br>
                <span class="text-muted"></span>
            </div>
        </footer>
        <!-- END FOOTER -->

        <!-- START BOOTSTRAP JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!-- END BOOTSTRAP JS -->

        <!-- START EXTRAJS BLOCK -->
        <script>
        {% block extrajs %}
        {% endblock %}
        </script>
        <!-- END EXTRAJS BLOCK -->

    </body>
</html>
