{% extends 'base/baseTemplate.html' %} 

{% block title %} {{tipo}} {% endblock %}

{% block content %}

<div class="container margen-superior" >


        {% csrf_token %}

        <ul class="nav nav-tabs mb-4">
                <li class="nav-item nav-list-elements" name="datos_generales">
                  <a class="nav-link active" href="#">Datos Generales</a>
                </li>
                {% for ele in lista_elementos %}
                <li class="nav-item nav-list-elements" name="{{ele.tipo}}">
                        <a class="nav-link" href="#">
                                {{ele.tipo}}s
                        </a>
                      </li>
                {% endfor %}
              </ul>





    <div id="datos_generales" class="contenedor_elemento">

            {% for entry in elemento %}
            <div class="d-flex justify-content-around pb-2 mt-3">
                   <h4>
                       {{entry.nombre}}
                   </h4>
            </div>
            {% for key,value in entry.datos.items %}
            <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">{{key}}</span>
                    </div>
                    <input type="text" class="form-control" value="{{value}}">
            </div>
            {% endfor %}
            {% endfor %}
            {% if tipo == "Contrato" %}
            <div class="d-flex justify-content-around pb-2 mt-3">
                    <a href="http://{{request.META.HTTP_HOST }}/Descargar_Factura/{{tipo}}/{{elemento.1.datos.nif}}____{{elemento.2.datos.numero_serie}}" class="btn btn-primary active" role="button" aria-pressed="true">Descargar Factura</a>
                    <button id="enviar_boton" type="button" class="btn btn-success" name="{{elemento.1.datos.nif}}____{{elemento.2.datos.numero_serie}}">Enviar Factura</button>
                    <button id="eleminar_boton" type="button" class="btn btn-danger" name="{{elemento.1.datos.nif}}____{{elemento.2.datos.numero_serie}}">Eliminar {{tipo}}</button>
            </div>

            {% endif %}
            {% if tipo == "Cliente" %}
            <div class="d-flex justify-content-around pb-2 mt-3">
                    <a href="http://{{request.META.HTTP_HOST }}/Descargar_Factura/{{tipo}}/{{elemento.0.datos.nif}}" class="btn btn-primary active" role="button" aria-pressed="true">Descargar Factura</a>
                    <button id="enviar_boton" type="button" class="btn btn-success" name="{{elemento.0.datos.nif}}">Enviar Factura</button>
                    <button id="eleminar_boton" type="button" class="btn btn-danger" name="{{elemento.0.datos.nif}}">Eliminar {{tipo}}</button>

            </div>

            {% endif %}
            {% if tipo == "Carretilla" %}
            <div class="d-flex justify-content-around pb-2 mt-3">
                    <a href="http://{{request.META.HTTP_HOST }}/Descargar_Factura/{{tipo}}/{{elemento.0.datos.numero_serie}}" class="btn btn-primary active" role="button" aria-pressed="true">Descargar Factura</a>
                    <button id="enviar_boton" type="button" class="btn btn-success" name="{{elemento.0.datos.numero_serie}}">Enviar Factura</button>
                    <button id="eleminar_boton" type="button" class="btn btn-danger" name="{{elemento.0.datos.numero_serie}}">Eliminar {{tipo}}</button>
            </div>

            {% endif %}

            {% if tipo == "Historico De Factura" and auxiliar.cobrada %}
            <div class="d-flex justify-content-around pb-2 mt-3">
                    <button id="actualizar_factura_boton" type="button" class="btn btn-success" name="{{elemento.0.datos.numero_serie}}">Confirmar Cobro</button>
            </div>

            {% endif %}
            </div>





            {% for elementos in lista_elementos %}
            <div id="{{elementos.tipo}}" class="contenedor_elemento" style="display: none">
                
                    {% include "generic/listados.html" %}
                
                    </div>
                {% endfor %}




                <div class="d-flex justify-content-center">
                        <div id="simbolo_carga" class="" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                      </div>

    {% endblock %}

    {% block extrajs %}

  
$(document).ready(function(){

    var nav_list;
    var trs;

    trs = document.getElementsByClassName("listado_row");
    nav_list = document.getElementsByClassName("nav-list-elements");
    
    for (var nav_ele of nav_list)
    {
        nav_ele.addEventListener("click",function()
        {
            var ele;
            var id;
            var a_act;
            var new_act;
            var disp_ele;
    
            ele = this;
            id = ele.attributes["name"].value;
            console.log(id);
            a_act = document.getElementsByClassName("margen-superior")[0].getElementsByClassName("active")[0];
            a_act.className = "nav-link";
            new_act = ele.getElementsByClassName("nav-link")[0];
            new_act.className += " active";
            document.getElementById(a_act.parentElement.attributes["name"].value).style = "display: none";
            document.getElementById(id).style = "display"; 
        })
    }

    if($(".input_filter").length)
    {
            $(".input_filter").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            var new_pos = [1];
            var name_value;
        
            name_value = this.attributes["name"].value;
            console.log(this.attributes["name"].value,$(document.getElementById(this.attributes["name"].value)))
            $(document.getElementById(this.attributes["name"].value).getElementsByTagName("tr")).filter(function(a,b,c) {
                $(this).toggle(filtro_columna(this,value,new_pos,name_value))
            });
            });
    }
    
    for(var tr of trs)
    {
      tr.addEventListener("dblclick",function(e){
          var caso;
    
          caso = this.parentElement.id.split("table_")[1];
    
          switch(caso)
          {
              case "Carretilla":
              display_element(this,1,caso);
              break;
              case "Cliente":
              display_element(this,2,caso);
              break;
              case "Contrato":
              display_element(this,3,caso);
              break;
              case "Historico De Cliente":
              break;
              case "Historico De Factura":
              display_element(this,4,caso);
              break;
              
          }
      })
    }


      
    if(document.getElementById("enviar_boton")){
        document.getElementById("enviar_boton").addEventListener("click",enviar_factura)
      }


      
      if(document.getElementById("actualizar_factura_boton")){
        document.getElementById("actualizar_factura_boton").addEventListener("click",actualizar_factura)
      }

      if(document.getElementById("eleminar_boton")){
        document.getElementById("eleminar_boton").addEventListener("click",eleminar_elemento)
      }

  });



function filtro_columna(row,value,new_pos,name_value)
{
  var filter_index;
  var filter_select;
  var tds;
  var res;
  


  filter_select = document.getElementById("filter_list_"+name_value.split("table_")[1]);
  filter_index = filter_select.selectedIndex - 1;
  tds = row.getElementsByTagName("td");
  console.log(filter_select,filter_index,tds,tds[filter_index].textContent.indexOf(value),value,tds[filter_index].textContent);
  res = tds[filter_index].textContent.toLowerCase().indexOf(value) != -1;

 

  if(tds[filter_index].textContent.indexOf(value) != -1)
  {
    row.getElementsByTagName("th")[0].textContent = new_pos[0]++;
  }

  return res;
}


function display_element(element,caso,tipo)
{
    var id;

    console.log(element);
    id = element.getElementsByTagName("td")[2].textContent.trim();
    if(caso == 3)
    {
        id += "____"+element.getElementsByTagName("td")[3].textContent.trim()
    }
    else if(caso == 4)
    {
        id = element.getElementsByTagName("td")[0].textContent.trim()
    }
    window.location.href = window.location.protocol+"//"+window.location.host+"/Desplegar/"+tipo+"/"+id;
}


function enviar_factura()
{
    var id;
    var xhr;

    id = this.attributes.name.value;
    xhr = new XMLHttpRequest();
    xhr.open("POST",window.location.protocol+"//"+window.location.host+"/Enviar_Factura/{{tipo}}/"+id);
    xhr.onload = function()
    {
            document.getElementById("simbolo_carga").className = ""
            alert(JSON.parse(this.response).valor);
            window.location.href = window.location.href.replace("#","");
    }
    xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded; charset=UTF-8");
    xhr.send("csrfmiddlewaretoken="+document.getElementsByName("csrfmiddlewaretoken")[0].value);
    document.getElementById("simbolo_carga").className = "spinner-border"
 
}


function actualizar_factura()
{
    var id;
    var xhr;

    xhr = new XMLHttpRequest();
    xhr.open("POST",window.location.protocol+"//"+window.location.host+"/Actualizar_Factura/{{tipo}}/{{id}}");
    xhr.onload = function()
    {
            alert(JSON.parse(this.response).valor);
            window.location.href = window.location.href
    }
    xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded; charset=UTF-8");
    xhr.send("csrfmiddlewaretoken="+document.getElementsByName("csrfmiddlewaretoken")[0].value);
}


function eleminar_elemento()
{
    var xhr;

    if(confirm("Esta seguro de que desea eleminar esta informacion")){
        xhr = new XMLHttpRequest();
        xhr.open("POST",window.location.protocol+"//"+window.location.host+"/Eliminar_Elemento/{{tipo}}/{{id}}");
        xhr.onload = function()
        {
                alert(JSON.parse(this.response).valor);
                window.location.href = window.location.protocol+"//"+window.location.host+"/home"
        }
        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded; charset=UTF-8");
        xhr.send("csrfmiddlewaretoken="+document.getElementsByName("csrfmiddlewaretoken")[0].value);
}
}

    {% endblock %}