<table id="Tabla_{{nombre}}" class="table">
<thead>
  <tr>
  	<th scope="col"> </th>
        {% for col,values in elementos.items %}
		{% if forloop.counter == 1 %}
			{% for col,val in values.items %}
        			<th scope="col">{{col}}</th>
			{% endfor %}
		{% endif %}
        {% endfor %}
        
  </tr>
</thead>
<tbody id="">
 
{% for codigo,elemento in elementos.items%}
<tr class="listado_row">
<td>
<div class="form-check">
	<input class="check_box" type="checkbox" name="{{name_value}}code_row" value="{{codigo}}">
</div>
</td>
{% for key,element in elemento.items %}
<td>{{element}}</td>
{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>