
{% extends 'base/baseTemplate.html' %}

{% block title %} {{elementos.tipo}} {% endblock %} 

{% block content %}
<div class="container margen-superior" >
    {% include "generic/listados.html" %}
</div>

{% endblock %}

{% block extrajs %}
var trs;

trs = document.getElementsByClassName("listado_row");

for(var tr of trs)
{
  tr.addEventListener("dblclick",function(e){
      var element;
      var id;

      element = this;
      console.log(element);
      if(decodeURIComponent(window.location.href).indexOf("Historico De Facturas") == -1)
      {
        id = element.getElementsByTagName("td")[2].textContent.trim();
      }
      else
      {
        id = element.getElementsByTagName("td")[0].textContent.trim();
      }
      
      window.location.href = window.location.protocol+"//"+window.location.host+"/Desplegar/{{elementos.tipo}}/"+id;
  })
}
  
$(document).ready(function(){
  $(".input_filter").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    var new_pos = [1];
    var name_value;

    name_value = this.attributes["name"].value;
    console.log(this.attributes["name"].value,$(document.getElementById(this.attributes["name"].value)))
    $(document.getElementById(this.attributes["name"].value).getElementsByTagName("tr")).filter(function(a,b,c) {
      $(this).toggle(filtro_columna(this,value,new_pos,name_value))
    });
  });

  function filtro_columna(row,value,new_pos,name_value)
  {
    var filter_index;
    var filter_select;
    var tds;
    var res;
    


    filter_select = document.getElementById("filter_list_"+name_value.split("table_")[1]);
    filter_index = filter_select.selectedIndex - 1;
    tds = row.getElementsByTagName("td");
    console.log(filter_select,filter_index,tds,tds[filter_index].textContent.indexOf(value),value,tds[filter_index].textContent);
    res = tds[filter_index].textContent.toLowerCase().indexOf(value) != -1;

   

    if(tds[filter_index].textContent.indexOf(value) != -1)
    {
      row.getElementsByTagName("th")[0].textContent = new_pos[0]++;
    }

    return res;
  }
});

{% endblock %}