<div class="d-flex justify-content-around pb-2">
        {% if 'formulario' in elementos %}
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalRegisterForm{{elementos.tipo}}">
                {% if elementos.tipo == "Contrato" %} Añadir {% else %} Crear {% endif %}{{elementos.tipo}}</button>
        {% endif %}
        
<select id="filter_list_{{elementos.tipo}}" class="selectpicker">
        <option>filtar por</option>
        {% for col in elementos.columnas %}
            {% if forloop.counter != 1 %}
            <option title="{{col}}">{{col}}</option>
            {% endif %}
        {% endfor %}
      </select>




        <div class="input-group" style="width: 25%;">
            <div class="input-group-prepend">
                <span class="input-group-text">Filtrar</span>
            </div>
            <input type="text" class="input_filter form-control" name="table_{{elementos.tipo}}">
    </div>
</div>

<table class="table">
    <thead>
      <tr>
            {% for col in elementos.columnas %}
            <th scope="col">{{col}}</th>
            {% endfor %}
      </tr>
    </thead>
    <tbody id="table_{{elementos.tipo}}">
     


    {% if elementos.tipo == "Cliente" %}
    {% for element in elementos.listado %}
<tr class="listado_row">
    <th scope="row">{{ forloop.counter }}</th>
    <td>{{element.nombre}}</td>
    <td>{{element.email}}</td>
    <td>{{element.nif}}</td>
</tr>
{% endfor %}
{% endif %}

{% if elementos.tipo == "Carretilla" %}
    {% for element in elementos.listado %}
<tr class="listado_row">
    <th scope="row">{{ forloop.counter }}</th>
    <td>{{element.marca}}</td>
    <td>{{element.modelo}}</td>
    <td>{{element.numero_serie}}</td>
</tr>
{% endfor %}
{% endif %}

{% if elementos.tipo == "Contrato" %}
    {% for element in elementos.listado %}
<tr class="listado_row">
    <th scope="row">{{ forloop.counter }}</th>
    <td>{{element.modelo_factura_cliente.nombre}}</td>
    <td>{{element.modelo_factura_carretilla.marca}}</td>
    <td>{{element.modelo_factura_cliente.nif}}</td>
    <td>{{element.modelo_factura_carretilla.numero_serie}}</td>
    <td>{{element.importe}}</td>
    <td>{{element.tipo_contrato}}</td>
</tr>
{% endfor %}
{% endif %}

{% if elementos.tipo == "Historico De Cliente" or elementos.tipo == "Historico De Carretilla" %}
    {% for element in elementos.listado %}
<tr class="listado_row">
    <th scope="row">{{ forloop.counter }}</th>
    {% if elementos.tipo == "Historico De Cliente" %}
    <td>{{element.historico_cliente.nif}}</td>
    {% else %}
    <td>{{element.historico_carretilla.numero_serie}}</td>
    {% endif %}
    <td>{{element.tipo_movimiento}}</td>
    <td>{{element.fecha_creacion}}</td>
    <td>{{element.fecha_eliminacion}}</td>
</tr>
{% endfor %}
{% endif %}



{% if elementos.tipo == "Historico De Factura" %}
    {% for element in elementos.listado %}
<tr class="listado_row">
    <th scope="row">{{ forloop.counter }}</th>
    <td>{{element.codigo_factura}}</td>
    <td>{{element.factura_cliente.nombre}}</td>
    <td>{{element.importe}}</td>
    <td>{{element.fecha_envio}}</td>
    <td>{{element.fecha_cobro}}</td>
    <td>{{element.tipo_movimiento}}</td>
</tr>
{% endfor %}
{% endif %}

    </tbody>
  </table>

  {% if 'formulario' in elementos %}
<div class="modal fade" id="modalRegisterForm{{elementos.tipo}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<form method="POST" action="{{request.path}}/{{elementos.tipo}}s">
        {% csrf_token %}
<div class="modal-dialog modal-notify modal-warning" role="document">
  <div class="modal-content">
    <div class="modal-header text-center">
      <h4 class="modal-title w-100 font-weight-bold">{{elementos.tipo}}</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mx-3">
        <div class="md-form mb-5">
    {% if  elementos.tipo == "Contrato" and tipo == "Cliente" %}
    <label for="id_cliente_carretillas_0">Carretilla :</label>
    <select class="custom-select custom-select-sm" name="identificador">
            <option selected>Seleccionar Numero Serie</option>
            {% for ele in elementos.carretillas %}
            <option value="{{ele.numero_serie}}">{{ele.numero_serie}}</option>
            {% endfor %}
          </select>
    {% endif %}
    {% if  elementos.tipo == "Contrato" and tipo == "Carretilla" %}
    <label for="id_carretilla_clientes_0">Cliente :</label>
    <select class="custom-select custom-select-sm" name="identificador">
            <option selected>Seleccionar Nif</option>
            {% for ele in elementos.clientes %}
            <option value="{{ele.nif}}">{{ele.nif}}</option>
            {% endfor %}
          </select>
    {% endif %}
        </div>
      {% for element in elementos.formulario %}
      <div class="md-form mb-5">
              {{element.label_tag}} 
              {{ element }}
              {{ element.errors }}
      </div>
    {% endfor %}
    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button id="submit_btn" class="btn btn-primary px-4" type="submit">Crear</button>
    </div>
  </div>
</div>
</form>
</div>
{% endif %}
