{% extends 'base/baseTemplate.html' %} 

{% block title %} Simulador {% endblock %}

{% block content %}

<form class="container margen-superior" action="/Simulador" method="POST" >


        

        <ul class="nav nav-tabs mb-4">
                {% for predictor in predictores %}
                <li class="nav-item nav-list-elements" name="{{predictor}}">
                        <a class="nav-link" href="#">
                                {{predictor}}
                        </a>
                      </li>
                {% endfor %}
              </ul>





    <div id="datos_generales" class="contenedor_elemento">

            <div class="d-flex justify-content-around pb-2 mt-3">
                   <h4>
                       nombre
                   </h4>
            </div>

           {% for name,files in  predictores_forms.items %}
        <div id="{{name}}" class="border border-primary p-4">
            {% csrf_token %}
            <input name="predictor" value="{{name}}" style="display:none">
            {% for element in  files %}
                    <div class="form-group">
                        {{element.label_tag}} 
                        {{ element }}
                    </div>
                     {% endfor %}
                     <div class="d-flex justify-content-around pb-2 mt-3">
                        <a href="#" class="btn btn-primary active" role="button" aria-pressed="true">Descargar</a>
                        <button id="enviar_boton" type="submit" class="btn btn-success" name="enviar" value="{{name}}">Enviar</button>
                </div>
        </div>
             {% endfor %}
             
             

             {% for elementos in listas %}
            <div class="card mt-3" style="">
                <div class="card-header bg-primary">
                        Resultados
                      </div>
                      <div class="card-body">
                    {% include "generic/listados.html" %}
                </div>
                    </div>
                {% endfor %}





                <div class="d-flex justify-content-center">
                        <div id="simbolo_carga" class="" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                      </div>

                    </form>

    {% endblock %}
