{% extends 'base/baseTemplate.html' %} 

{% block title %} Simulador {% endblock %}

{% block content %}

<form class="container margen-superior" action="/Simulador" method="POST" >


        

        <ul class="nav nav-tabs mb-4">
                {% for predictor in predictores %}
                <li class="nav-item nav-list-elements nav-pred show active" name="{{predictor}}">
                        <a class="nav-link" href="#">
                                {{predictor}}
                        </a>
                      </li>
                {% endfor %}
              </ul>





    <div id="datos_generales" class="contenedor_elemento">

            <div class="d-flex justify-content-around pb-2 mt-3">
                   <h4>
                       nombre
                   </h4>
            </div>

           {% for name,files in  predictores_forms.items %}
        <div id="{{name}}" class="border border-primary p-4">
            {% csrf_token %}
            <input name="predictor" value="{{name}}" style="display:none">
            {% for element in  files %}
                    <div class="form-group">
                        {{element.label_tag}} 
                        {{ element }}
                    </div>
                     {% endfor %}
        </div>
             {% endfor %}
             
             

             {% for nombre,elementos in listas.items %}
            <div class="card mt-3" style="">
                <div class="card-header bg-primary text-white">
                        {{nombre}}
                      </div>
                      <div class="card-body">
                    {% include "generic/listados.html" %}
		    </div>
		    <div class="card-footer">
		          <div class="d-flex justify-content-around pb-2 mt-3">
                        <button id="enviar_boton" type="submit" class="btn btn-danger" name="sendform" value="{{nombre}}_delete">Eliminar</button>
                        <button id="enviar_boton" type="submit" class="btn btn-success" name="sendform" value="{{nombre}}_send">Enviar</button>
                </div>
		</div>
                    </div>
                {% endfor %}





                <input id="pred_id" name="pred_id" style="display:none" value=""/>

                    </form>

    {% endblock %}

    
    {% block extrajs %}

	document.getElementsByTagName("h4")[0].textContent = document.getElementsByClassName("nav-pred")[0].attributes.name.value;
	document.getElementsByClassName("nav-pred")[0].className += " show active";
	document.getElementById("pred_id").value = document.getElementsByClassName("nav-pred")[0].attributes.name.value;


	[].forEach.call(document.getElementsByClassName("nav-pred"),(entrie)=>{
		entrie.addEventListener("click",function(e){
			var ele;
			var name;
			var current_show_ele;
			var pred_id_type;

			ele = this;
			name = ele.attributes.name.value;
			current_show_ele = document.getElementsByClassName("show")[0];
			pred_id_type = document.getElementById("pred_id");

			document.getElementsByTagName("h4")[0].textContent = name;
			current_show_ele.className = current_show_ele.className.split("show")[0];
			this.className += " show active";

			pred_id_type.value = name;


		})
	})

    {% endblock %}
